@import "~@theme";

#new-plant-page {
  padding: 0px;

  form {
    padding: 0px 20px;
  }

  #profile-picture {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 75%
  }

  .error-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #ff7851;
  }

  .dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
  }
}
