@import "~@theme";

#my-plants-page {

  .container {
    padding-bottom: 38px;
  }

  .container #top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > a {
      width: 110px;
      min-width: 110px;
      padding: 0px;
      margin-left: 30px;

      & > button {
        width: 100%;
      }
    }
  }

  .plant-card {
    width: 14rem;
    margin-top: 19px;
    display: inline-block;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.15s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }
  }

  .plant-link {
    color: inherit;
    padding-right: 19px;
  }

  .card-img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 75%;
  }

  .action-items {
    color:white;
  }

  .tutorial-page {
    background-image: url('../../assets/images/background.jpg');
    height: 78%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
