@import "~@theme";

#register-page {
    background-image: url('../../assets/images/background.jpg');
    height: 78%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .card {
        min-height: 368px;
        margin-top: auto;  
        margin-bottom: auto;
    }
}
