@import "~@theme";

#forget-password-page {
    background-image: url('../../assets/images/background.jpg');
    height: 78%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .card {
        margin-top: auto;  
        margin-bottom: auto;
    }
}