@import "~@theme";

$mint: #78C2AD;

#plant-profile-page {
  #calendar {
    margin: 0 auto;
    font-size: 10px;

    .fc-daygrid-event {
      border-color: $mint;
    }

    .fc-event-title-container {
      background: $mint;
      font-size: 14px;
    }
  }

  #heatmap {
    width: 200px;
    margin: 0 auto;
    font-size: 10px;
  }

  .growth-pic-card {
    width: 12rem;
    margin: 8px 8px 0 0 ;
    display: inline-block;
  }

  .card-img {
    padding: 12px;
    max-width: 100%;
    cursor: pointer;
  }

  section {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:last-of-type {
      border-bottom: 0px;
    }
  }

  #plant-picture-and-information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    span {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  #care-frequency {
    span {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    #care-buttons {
      display: flex;
      flex-direction: column;

      button {
        margin-bottom: 16px;
      }
    }
  }

  #manage-plant {
    button {
      margin-right: 16px;
    }
  }
}
